  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    
    padding: 1px 16px;
    height: 100%;
    margin-left: 250px;
  }