.navbar{

    justify-content: space-between;
    background-color: aqua;
   
}
span{
    padding-right: 1rem;
    
}

button{
    color: red;
}
.button :hover{

    color: whitesmoke;
    background-color: rgb(240, 61, 61);
    font-size: 15px;
    
}