<body>
  

<header>
    
      <app-navigation-bar></app-navigation-bar>
</header>

<aside>
    <h1>im side nav</h1>

    <!-- <app-side-bar></app-side-bar> -->
</aside>
<main>
 <mat-toolbar>my serch box and cart
    <div>    <form class="form-inline mr-auto">
        <input style="margin-right: 16px; " class="form-control" type="text" placeholder="Search Products Here" aria-label="Search">
      
        <div class="button"> 
        
          <button   mat-raised-button color="mat-icon-color">
            <mat-icon style="font-size: x-large; "  class="text-color-red">search</mat-icon>
            <span class="text-color-red">Search</span>
            </button>
          </div>
        </form>
      </div>
      <div>
          <span  class="button"><button  type="button" mat-flat-button>
              <mat-icon style="font-size: x-large; "  class="text-color-red">shopping_basket</mat-icon>
              Cart <i class="fa fa-sign-in" aria-hidden="true"></i></button>
            </span>
      </div>
 </mat-toolbar>
 Here are some reasons you might want to use AOT.

Faster rendering With AOT, the browser downloads a pre-compiled version of the application. The browser loads executable code so it can render the application immediately, without waiting to compile the app first.

Fewer asynchronous requests The compiler inlines external HTML templates and CSS style sheets within the application JavaScript, eliminating separate ajax requests for those source files.

Smaller Angular framework download size There's no need to download the Angular compiler if the app is already compiled. The compiler is roughly half of Angular itself, so omitting it dramatically reduces the application payload.

Detect template errors earlier The AOT compiler detects and reports template binding errors during the build step before users can see them.

Better security AOT compiles HTML templates and components into JavaScript files long before they are served to the client. With no templates to read and no risky client-side HTML or JavaScript evaluation, there are fewer opportunities for injection attacks.

Here are some reasons you might want to use AOT.

Faster rendering With AOT, the browser downloads a pre-compiled version of the application. The browser loads executable code so it can render the application immediately, without waiting to compile the app first.

Fewer asynchronous requests The compiler inlines external HTML templates and CSS style sheets within the application JavaScript, eliminating separate ajax requests for those source files.

Smaller Angular framework download size There's no need to download the Angular compiler if the app is already compiled. The compiler is roughly half of Angular itself, so omitting it dramatically reduces the application payload.

Detect template errors earlier The AOT compiler detects and reports template binding errors during the build step before users can see them.

Better security AOT compiles HTML templates and components into JavaScript files long before they are served to the client. With no templates to read and no risky client-side HTML or JavaScript evaluation, there are fewer opportunities for injection attacks.


Here are some reasons you might want to use AOT.

Faster rendering With AOT, the browser downloads a pre-compiled version of the application. The browser loads executable code so it can render the application immediately, without waiting to compile the app first.

Fewer asynchronous requests The compiler inlines external HTML templates and CSS style sheets within the application JavaScript, eliminating separate ajax requests for those source files.

Smaller Angular framework download size There's no need to download the Angular compiler if the app is already compiled. The compiler is roughly half of Angular itself, so omitting it dramatically reduces the application payload.

Detect template errors earlier The AOT compiler detects and reports template binding errors during the build step before users can see them.

Better security AOT compiles HTML templates and components into JavaScript files long before they are served to the client. With no templates to read and no risky client-side HTML or JavaScript evaluation, there are fewer opportunities for injection attacks.
 <!-- <app-products></app-products> -->
</main>

<footer>
  <h1 style="color: aliceblue">im footer</h1>
</footer>


</body>












<!-- navbar below -->
<!--  -->
        <!-- /navbar -->



<!-- The sidebar -->
<!-- 


<div class="nav-1">
  <mat-toolbar>  <form class="form-inline mr-auto">
    <input style="margin-right: 16px; margin-left: 400px" class="form-control" type="text" placeholder="Search Products Here" aria-label="Search">

    <button  mat-raised-button color="mat-icon-color">
      <mat-icon class="text-color-red">search</mat-icon>
      <span class="text-color-red">Search</span>
      </button>
      <button
      style="margin-right: 30px; margin-left: 200px "
       matBadgeSize="small"
        mat-raised-button color="mat-icon-color">
        <mat-icon matBadge="0"  matBadgeColor="warn" class="text-color-red">shopping_cart</mat-icon>
        <span class="text-color-red">Cart</span>
        </button>


  </form></mat-toolbar>
</div> -->

      <!-- Page content -->
      <!-- <app-products></app-products> -->