<!-- navbar below -->
<app-navigation-bar></app-navigation-bar>
        <!-- /navbar -->



<!-- The sidebar -->
<app-side-bar></app-side-bar>


<div class="nav-1">
  <mat-toolbar>  <form class="form-inline mr-auto">
    <input style="margin-right: 16px; margin-left: 400px" class="form-control" type="text" placeholder="Search Products Here" aria-label="Search">
    
    <button  mat-raised-button color="mat-icon-color">
      <mat-icon class="text-color-red">search</mat-icon>
      <span class="text-color-red">Search</span>
      </button>
      <button 
      style="margin-right: 30px; margin-left: 200px "
       matBadgeSize="small" 
        mat-raised-button color="mat-icon-color">
        <mat-icon matBadge="0"  matBadgeColor="warn" class="text-color-red">shopping_cart</mat-icon>
        <span class="text-color-red">Cart</span>
        </button>
          
    
  </form></mat-toolbar>
</div>

      <!-- Page content -->
      <app-products></app-products>