



button:hover{
  background-color: rgb(255, 166, 0);
  color:  black;

}

.sidebar {
 display: flex;
  height: calc(100vh - 120px);
  position: fixed!important;
  z-index: 1;
  flex-direction: column;
  overflow: auto;
}

.sidebar a {

  background-color:  rgb(255, 166, 0); 
}


@media (max-width: 993px)
{.sidebar {

    display: flex;
    position: sticky;
    width: 100%;
}
@media (min-width: 768px)
{.col-md-3 {
    flex: 0 0 25%;
    max-width: 100%;
}
}
.mat-list-base {
  
  display: flex;
  -webkit-tap-highlight-color: transparent;
}


}  