<div class="sidebar">
        
    <mat-nav-list >
         
       

         
    
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <button mat-flat-button color="mat-icon-color">
                      <mat-icon class="text-color-red">list</mat-icon>
                      <span class="text-color-red">Categories</span>
                      </button>
              </mat-panel-title>
              
            </mat-expansion-panel-header>
           <!-- Default dropright button -->
           <a mat-list-item href="..." class="text-color-red">Books</a>
            <a mat-list-item href="..." class="text-color-red">Mugs</a>
            <a mat-list-item href="..." class="text-color-red">Mouse Pad</a>
            <a mat-list-item href="..." class="text-color-red">Bags</a>

            <!-- *ngFor="let link of links" -->
            

          </mat-expansion-panel>
        <mat-divider></mat-divider>
          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <button mat-flat-button color="mat-icon-color">
                        <mat-icon class="text-color-red">sort</mat-icon>
                        <span class="text-color-red">Sort By</span>
                        </button>
                </mat-panel-title>
                
              </mat-expansion-panel-header>
              <a mat-list-item href="..." class="text-color-red" >Price
                  <mat-icon class="text-color-red">arrow_downward</mat-icon>
                  <mat-icon class="text-color-red">arrow_upward</mat-icon>
              </a>
              <a mat-list-item href="..." class="text-color-red">Alphabetical

                  <mat-icon class="text-color-red">sort_by_alpha</mat-icon>
              </a>
              <a mat-list-item href="..." class="text-color-red">Latest

                  <mat-icon class="text-color-red">fiber_new</mat-icon>
              </a>
              <a mat-list-item href="..." class="text-color-red">Customer Rating

                  <mat-icon class="text-color-red">star_half</mat-icon>
              </a>

              <!-- *ngFor="let link of links" -->
              

            </mat-expansion-panel>
            
            <mat-divider></mat-divider>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      <button mat-flat-button color="mat-icon-color">
                          <mat-icon class="text-color-red">list</mat-icon>
                          <span class="text-color-red">Your Wish List</span>
                          </button>
                  </mat-panel-title>
                  
                </mat-expansion-panel-header>
                <a mat-list-item href="..." class="text-color-red" >Books</a>
                <a mat-list-item href="..." class="text-color-red">Mugs</a>
                <a mat-list-item href="..." class="text-color-red">Mouse Pad</a>
  
                <!-- *ngFor="let link of links" -->
                
  
              </mat-expansion-panel>
              <mat-divider></mat-divider>
    </mat-nav-list>

      </div>
   
